include README.md
include LICENSE
recursive-include src/enterprise_maintenance_suit/templates *
recursive-include src/enterprise_maintenance_suit/migrations *
recursive-include src/enterprise_maintenance_suit/management *
