include README.md
include LICENSE
recursive-include src/django_enterprise_maintenance_suite/templates *
recursive-include src/django_enterprise_maintenance_suite/migrations *
recursive-include src/django_enterprise_maintenance_suite/management *
